#partners a:visited {
    color: #fff;
    text-decoration: none;
}

#partners a:hover {
    text-decoration: underline;
}

.section-paragraph {
    list-style: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 20px;
    text-align: left;
}

address {
    margin-top: 10px;
    margin-left: 40px;
}

#footer .social-icons li img {
    width: 30px !important;
}